@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@600;700;800;900&display=swap');

.navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #ac9eb8;
}

  

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color:#0f1d28;
    text-decoration: none;
}

.nav-link-merch{
    display: block;
    padding: 0.5rem 1rem;
    color: #0f1d28;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    font-family: 'Noto Sans Georgian', sans-serif;
}

.nav-link-mdn{
    display: block;
    padding: 0.5rem 1rem;
    color: #0f1d28;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    font-family: 'Noto Sans Georgian', sans-serif;
}

.nav-link-newsletter{
    display: block;
    padding: 0.5rem 1rem;
    color: #0f1d28;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    font-family: 'Noto Sans Georgian', sans-serif;
}

.nav-link-events{
    display: block;
    padding: 0.5rem 1rem;
    color: #ac9eb8;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 17px;
    font-family: 'Noto Sans Georgian', sans-serif;
}
.nav-item-dropdown{
    display: flex;
    padding: 0.1rem 1rem;
    justify-content: center;
    align-items: center;
    background:  #0f1d28;
    text-decoration: none;
    width: 23%;
    border: 1px solid #ac9eb8;

}   


.navbar-toggler{
    display: block;
    padding: 2rem 1rem;
    background: white;
    color:white;
    text-decoration: none;
} 

