.Eras-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    margin-right: 20%;
    margin-left: 0%;
    padding: 17px;
}
  
.eras-ticket img {
    padding-top: 1%;
    width: 120%;
    height: 120%;
    object-fit: cover;
}
  
 