@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@600;700;800;900&display=swap');

.Lavander-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
  
  
.disk-lavander img {
    max-width: 100%;
    max-height: 100%;
}
  